body { margin: 0; padding: 0; background-color: #f5f7fa; }
.app-container { height: 100vh; display: flex; flex-direction: column; }
.header { position: fixed;top:0;left: 0;right:0;background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; height: 80px; display: inline-flex;align-items: center;justify-content: space-between ;}
.main-content { flex: 1; display: flex; margin-top: 80px; height: calc(100vh - 80px)}
.sidebar { position: fixed;left: 0;top: 80px;width: 350px; height: calc(100vh - 80px);overflow-y: auto;background: white; border-right: 1px solid #e6e6e6; }
.content-area { position: fixed;right: 0;top: 80px; left: 350px;padding: 10px; height: calc(100vh - 80px);overflow-y: auto;}
.file-list {margin-bottom: 8px; cursor: pointer;font-size: 12px;border-radius: 8px;background: #d0d0d0;padding: 5px;}
.file-list:hover { background: #f0f0f0; }
.file-list.select { background: #667eea; color: #fff;border: 2px solid #f0f0f0;}
.log-entry {  width: 100%;border-left: 4px solid #909399; margin: 4px 0;color: #909399; background: white; border-radius: 4px; cursor: pointer; }
.log-message { margin-top: 8px; word-wrap: break-word; }
.log-message-time {background: #f0f0f0;width: 128px;color: #666666;flex-shrink: 0;}
.log-message-thread { margin-left: 3px; color: #909399;}
.log-message-class { margin-left: 3px; color: #909399;}
.level-color-set {display: inline-flex;align-items: center;justify-content: center;}
.el-upload-dragger { width: 280px; }
.el-card__header { padding: 10px; font-weight: bold;background: linear-gradient(135deg, #8cc5ff55 0%, #8cc5ff99 50%, #8cc5ff 100%);}
.el-dialog { margin-top: 10vh !important; }
.mt-5 { margin-top: 5px; }
.mb-5 { margin-bottom: 5px; }
.ml-5 { margin-left: 5px; }
.mr-5 { margin-right: 5px; }
.flex-row { display: flex; flex-direction: row; }
.flex-column { display: flex; flex-direction: column; }
.flex-row-center { display: flex; flex-direction: row; justify-content: center; align-items: center; }
table{
    /** 添加线条 */
    border: 2px solid #999999; /* 外边框 */
    border-collapse: collapse; /* 合并单元格边框，避免双线 */
    width: 100%;
}
th, td {
    border: 1px solid #999999; /* 每个单元格的边框 */
    padding: 8px;
    text-align: left;
}
/* 整体滚动条宽度（垂直） */
::-webkit-scrollbar {
    width: 6px; /* 垂直滚动条宽度 */
    height: 6px; /* 水平滚动条高度（如果有） */
}

/* 滚动条滑轨（track） */
::-webkit-scrollbar-track {
    background: #f4f4f4;
    border-radius: 6px;
}

/* 滚动条滑块（thumb） */
::-webkit-scrollbar-thumb {
    background: #f0f0f0;
    border-radius: 6px;
    border: 1px solid #8cc5ff; /* 避免贴边，更精致 */
}

/* 滚动条滑块悬停状态 */
::-webkit-scrollbar-thumb:hover {
    background: #e0e0e0;
}

/* 滚动条两端按钮（一般隐藏） */
::-webkit-scrollbar-button {
    display: none;
}